<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.11/cropper.js"></script>

<section class="container mt-4 ">
    <div >

        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-md-10 ">
                <h2 class="text-center m-5">Add Product</h2>
                <br>

                <!-- form -->
                <form action="/admin/add-product" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Brand Name</label>
                            <input type="text" class="form-control" placeholder="Brand" name="brand" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Product name</label>
                            <input type="text" class="form-control" placeholder="name" name="name" required>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Category</label>
                            <select class="form-control" name="category" , required>
                                <option value="" class="text-secondary" hidden>choose a category ...</option>
                                <% for(i=0;i<categories.length;i++){ %> 
                                    <option value="<%= categories[i].category %> "><%=categories[i].category %> </option>
                                <% } %> 
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label >inStock</label>
                            <input type="number" class="form-control" name="stock" required>
                        </div>

                    </div>
                    

                    <div class="form-row justify-content-between">
                        <div class="form-group col-md-4">
                            <label for="inputPrice">Price</label>
                            <input type="number" step="0.01" class="form-control" name="price"  required>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Frame size</label>
                            <select class="form-control" name="size" required>
                                <option value="" hidden>Choose a size...</option>
                                <option value="<%=categories.category %> " class="text-primary"><%=categories.category %> </option>
                                <option value="small">small</option>
                                <option value="medium">medium</option>
                                <option value="large">large</option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Frame color</label>
                            <input type="text" class="form-control" name="color">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Product description</label>
                        <textarea class="form-control"  name="description" rows="3"></textarea>
                    </div>
                    <!-- <div class="form-group">
                        <label for="">Image</label>
                        <input type="file" name="image" class="form-control" required>                                                
                    </div> -->

                    <!-- multiple images -->
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="productimage" class="">
                                Image
                            </label>
    
                            <input type="file" required id="id_image1" name="image1" accept="image/*" class="form-control"
                                onchange="viewImage1(event)" style="width:100%;"><br>
                            <img src="" id="imgView1" alt="" class="clr" style="height:100px">
    
                            <div class="vald-info" id="info"></div>
                            <h5 class="error_form text-danger" id="image1_error_message"></h5>
                            <div id="image1container" style="display:flex flex-row" hidden>
                                <div id="image-box1" class="clr image-container" style="height: 300px; width:100%"></div>
                                <button type="button" class="btn btn-dark" id="crop-btn1" style=" margin-top: 10px;  display: none;
                                            width:  50% ; margin: 1rem 0rem 1rem 7rem;">Crop</button>
                            </div>
                        </div>
    
                        <div class="col-12 col-md-6">
                            <label for="productimage" class="">
                                Image
                            </label>
                            <input type="file" id="id_image2" required name="image2" accept="image/*" class="form-control"
                                onchange="viewImage2(event)" style="width:100%;"><br>
                            <img src="" id="imgView2" class="clr" alt="" style="height:100px">
    
                            <div class="vald-info" id="info"></div>
                            <h5 class="error_form text-danger" id="image2_error_message"></h5>
                            <div id="image2container" style="display:flex flex-row" hidden>
                                <div id="image-box2" class="image-container clr" style="height: 300px; width:100%"></div>
                                <button type="button" class="btn btn-dark" id="crop-btn2" style=" margin-top: 10px; display: none;
                                          width:  50% ; margin: 1rem 0rem 1rem 7rem;">Crop</button>
                                          
                            </div>
                        </div>
    
    
                        <div class="col-12 col-md-6">
                            <label for="productimage" class="">
                                Image
                            </label>
    
                            <input type="file" required id="id_image3" name="image3" accept="image/*" class="form-control"
                                onchange="viewImage3(event)" style="width:100%;"><br>
                            <img src="" id="imgView3" class="clr" alt="" style="height:100px">
    
                            <div class="vald-info" id="info"></div>
                            <h5 class="error_form text-danger" id="image3_error_message"></h5>
                            <div id="image3container" style="display:flex flex-row" hidden>
                                <div id="image-box3" class="image-container clr" style="height: 300px; width:100%"></div>
                                <button type="button" class="btn btn-dark" id="crop-btn3" style=" margin-top: 2px; display: none;
                                                        width:  50% ; margin: 1rem 0rem 1rem 7rem;">Crop</button>
                            </div>
                        </div>
    
                        <div class="col-12 col-md-6">
                            <label for="productimage" class="">
                                Image
                            </label>
    
                            <input type="file" required id="id_image4" name="image4" accept="image/*" class="form-control"
                                onchange="viewImage4(event)" style="width:100%;"><br>
                            <img src="" id="imgView4" class="clr" alt="" style="height:100px">
    
                            <div class="vald-info" id="info"></div>
                            <h5 class="error_form text-danger" id="image4_error_message"></h5>
                            <div id="image4container" style="display:flex flex-row" hidden>
                                <div id="image-box4" class="image-container clr" style="height: 300px; width:100%"></div>
                                <button type="button" class="btn btn-dark" id="crop-btn4" style=" margin-top: 2px; display: none;
                                                        width:  50% ; margin: 1rem 0rem 1rem 7rem;">Crop</button>
                            </div>
                        </div>
                    </div>

                    <!-- /multiple images -->

                    <div class="d-flex justify-content-center mb-5">
                        <button type="submit" class="btn btn-success w-50 mt-3 ">Add</button>                        
                    </div>
                    

                   
                </form>
            </div>
        </div>

    </div>
</section>



<script>
    const imagebox1 = document.getElementById('image-box1')
    const crop_btn1 = document.getElementById('crop-btn1')
    const input1 = document.getElementById('id_image1')
    function viewImage1(event) {
        document.getElementById('image1container').removeAttribute('hidden')
        var fileInput1 = document.getElementById('id_image1');
        var filePath1 = fileInput1.value;
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif|\.jfif|\.webp)$/i;
        if (!allowedExtensions.exec(filePath1)) {
            fileInput1.value = '';
            swal("There is a problem!", "Please choose image file.");
            return false;
        } else {
            document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[0])
        }
    }
    // When user uploads the image this event will get triggered
    input1.addEventListener('change', () => {
        // Getting image file object from the input variable
        const img_data1 = input1.files[0]
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url1 = URL.createObjectURL(img_data1)
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox1.innerHTML = `<img src="${url1}" id="image1" style="width:100%;">`
        // Storing that cropping view image in a variable
        const image1 = document.getElementById('image1')
        // Displaying the image box
        document.getElementById('image-box1').style.display = 'block'
        // Displaying the Crop buttton
        document.getElementById('crop-btn1').style.display = 'block'
        document.getElementById('imgView1').style.display = 'block'
        // Hiding the Post button
        const cropper1 = new Cropper(image1, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: true,
            zoomable: true,
            movable: true,
            minCropBoxWidth: 100,
            minCropBoxHeight: 50,
            aspectRatio: 2 / 1,
        })
        // When crop button is clicked this event will get triggered
        crop_btn1.addEventListener('click', () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper1.getCroppedCanvas().toBlob((blob) => {
                // Gets the original image data
                let fileInputElement1 = document.getElementById('id_image1');
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file1 = new File([blob], img_data1.name, { type: "image/*", lastModified: new Date().getTime() });
                // Create a new container
                let container1 = new DataTransfer();
                // Add the cropped image file to the container
                container1.items.add(file1);
                // Replace the original image file with the new cropped image file
                fileInputElement1.files = container1.files;
                document.getElementById('imgView1').src = URL.createObjectURL(fileInputElement1.files[0])
                // Hide the cropper box
                document.getElementById('image-box1').style.display = 'none'
                // Hide the crop button
                document.getElementById('crop-btn1').style.display = 'none'
            })
        })
    })
    const imagebox2 = document.getElementById('image-box2')
    const crop_btn2 = document.getElementById('crop-btn2')
    const input2 = document.getElementById('id_image2')
    function viewImage2(event) {
        document.getElementById('image2container').removeAttribute('hidden')
        var fileInput2 = document.getElementById('id_image2');
        var filePath2 = fileInput2.value;
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif|\.jfif|\.webp)$/i;
        if (!allowedExtensions.exec(filePath2)) {
            fileInput1.value = '';
            swal("There is a problem!", "Please choose image file.");
            return false;
        } else {
            document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[0])
        }
    }
    // When user uploads the image this event will get triggered
    input2.addEventListener('change', () => {
        // Getting image file object from the input variable
        const img_data2 = input2.files[0]
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url2 = URL.createObjectURL(img_data2)
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox2.innerHTML = `<img src="${url2}" id="image2" style="width:100%;">`
        // Storing that cropping view image in a variable
        const image2 = document.getElementById('image2')
        // Displaying the image box
        document.getElementById('image-box2').style.display = 'block'
        // Displaying the Crop buttton
        document.getElementById('crop-btn2').style.display = 'block'
        document.getElementById('imgView2').style.display = 'block'
        // Hiding the Post button
        const cropper2 = new Cropper(image2, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: true,
            zoomable: true,
            movable: true,
            minCropBoxWidth: 100,
            minCropBoxHeight: 50,
            aspectRatio: 2 / 1,
        })
        // When crop button is clicked this event will get triggered
        crop_btn2.addEventListener('click', () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper2.getCroppedCanvas().toBlob((blob) => {
                // Gets the original image data
                let fileInputElement2 = document.getElementById('id_image2');
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file2 = new File([blob], img_data2.name, { type: "image/*", lastModified: new Date().getTime() });
                // Create a new container
                let container2 = new DataTransfer();
                // Add the cropped image file to the container
                container2.items.add(file2);
                // Replace the original image file with the new cropped image file
                fileInputElement2.files = container2.files;
                document.getElementById('imgView2').src = URL.createObjectURL(fileInputElement2.files[0])
                // Hide the cropper box
                document.getElementById('image-box2').style.display = 'none'
                // Hide the crop button
                document.getElementById('crop-btn2').style.display = 'none'
            })
        })
    })
    const imagebox3 = document.getElementById('image-box3')
    const crop_btn3 = document.getElementById('crop-btn3')
    const input3 = document.getElementById('id_image3')
    function viewImage3(event) {
        document.getElementById('image3container').removeAttribute('hidden')
        var fileInput3 = document.getElementById('id_image3');
        var filePath3 = fileInput3.value;
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif|\.jfif|\.webp)$/i;
        if (!allowedExtensions.exec(filePath3)) {
            fileInput3.value = '';
            swal("There is a problem!", "Please choose image file.");
            return false;
        } else {
            document.getElementById('imgView3').src = URL.createObjectURL(event.target.files[0])
        }
    }
    // When user uploads the image this event will get triggered
    input3.addEventListener('change', () => {
        // Getting image file object from the input variable
        const img_data3 = input3.files[0]
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url3 = URL.createObjectURL(img_data3)
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox3.innerHTML = `<img src="${url3}" id="image3" style="width:100%;">`
        // Storing that cropping view image in a variable
        const image3 = document.getElementById('image3')
        // Displaying the image box
        document.getElementById('image-box3').style.display = 'block'
        // Displaying the Crop buttton
        document.getElementById('crop-btn3').style.display = 'block'
        // Hiding the Post button
        const cropper3 = new Cropper(image3, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: true,
            zoomable: true,
            movable: true,
            minCropBoxWidth: 100,
            minCropBoxHeight: 50,
            aspectRatio: 2 / 1,
        })
        // When crop button is clicked this event will get triggered
        crop_btn3.addEventListener('click', () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper3.getCroppedCanvas().toBlob((blob) => {
                // Gets the original image data
                let fileInputElement3 = document.getElementById('id_image3');
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file3 = new File([blob], img_data3.name, { type: "image/*", lastModified: new Date().getTime() });
                // Create a new container
                let container3 = new DataTransfer();
                // Add the cropped image file to the container
                container3.items.add(file3);
                // Replace the original image file with the new cropped image file
                fileInputElement3.files = container3.files;
                document.getElementById('imgView3').src = URL.createObjectURL(fileInputElement3.files[0])
                // Hide the cropper box
                document.getElementById('image-box3').style.display = 'none'
                // Hide the crop button
                document.getElementById('crop-btn3').style.display = 'none'
                document.getElementById('imgView3').style.display = 'block'
            })
        })
    })
    const imagebox4 = document.getElementById('image-box4')
    const crop_btn4 = document.getElementById('crop-btn4')
    const input4 = document.getElementById('id_image4')
    function viewImage4(event) {
        document.getElementById('image4container').removeAttribute('hidden')
        var fileInput4 = document.getElementById('id_image4');
        var filePath4 = fileInput4.value;
        var allowedExtensions =
            /(\.jpg|\.jpeg|\.png|\.gif|\.jfif|\.webp)$/i;
        if (!allowedExtensions.exec(filePath4)) {
            fileInput4.value = '';
            swal("There is a problem!", "Please choose image file.");
            return false;
        } else {
            document.getElementById('imgView4').src = URL.createObjectURL(event.target.files[0])
        }
    }
    // When user uploads the image this event will get triggered
    input4.addEventListener('change', () => {
        // Getting image file object from the input variable
        const img_data4 = input4.files[0]
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url4 = URL.createObjectURL(img_data4)
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox4.innerHTML = `<img src="${url4}" id="image4" style="width:100%;">`
        // Storing that cropping view image in a variable
        const image4 = document.getElementById('image4')
        // Displaying the image box
        document.getElementById('image-box4').style.display = 'block'
        // Displaying the Crop buttton
        document.getElementById('crop-btn4').style.display = 'block'
        document.getElementById('imgView4').style.display = 'block'
        // Hiding the Post button
        const cropper4 = new Cropper(image4, {
            autoCropArea: 1,
            viewMode: 1,
            scalable: true,
            zoomable: true,
            movable: true,
            minCropBoxWidth: 100,
            minCropBoxHeight: 50,
            aspectRatio: 2 / 1,
        })
        // When crop button is clicked this event will get triggered
        crop_btn4.addEventListener('click', () => {
            // This method coverts the selected cropped image on the cropper canvas into a blob object
            cropper4.getCroppedCanvas().toBlob((blob) => {
                // Gets the original image data
                let fileInputElement4 = document.getElementById('id_image4');
                // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
                let file4 = new File([blob], img_data4.name, { type: "image/*", lastModified: new Date().getTime() });
                // Create a new container
                let container4 = new DataTransfer();
                // Add the cropped image file to the container
                container4.items.add(file4);
                // Replace the original image file with the new cropped image file
                fileInputElement4.files = container4.files;
                document.getElementById('imgView4').src = URL.createObjectURL(fileInputElement4.files[0])
                // Hide the cropper box
                document.getElementById('image-box4').style.display = 'none'
                // Hide the crop button
                document.getElementById('crop-btn4').style.display = 'none'
            })
        })
    })
 $("select").removeAttr('style')
</script>