<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        
                        <span class=" demo fw-bolder"><h2>Vision Admin</h2></span>
                        
                    </div>
                    <!-- /Logo -->
                    <div class=>
                        <h4 class="mb-2" style="color:#566a7f ;">Signin</h4>
                    </div>

                    <% if(errorMessage){ %>
                        <p class="text-danger"><%= errorMessage %> </p>
                      <% } %>  
                    

                    <form action="/admin/login" method="post"> 
                        <!-- Email input -->
                        <div class="form-outline mb-4 mt-4">
                            <label class="form-label" for="form2Example1">Email address</label>
                            <input type="email" name="email" id="form2Example1" class="form-control" required/>
                            
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <label class="form-label" for="form2Example2">Password</label>
                            <input type="password" name="password" id="form2Example2" class="form-control" required/>
                           
                        </div>

                        <!-- 2 column grid layout for inline styling -->
                        <div class="row mb-4">
                            <div class="col d-flex justify-content-center ">
    
                                    <!-- Simple link -->
                                    <a href="#!">Forgot password?</a>                            
                               
                            </div>
                           

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4 mt-4" style="background-color:#566a7f ;">Sign in</button>


                    </form>

                </div>
            </div>

        </div>
    </div>
</div>