<section>
    <div class="container">



        <div class="row mt-4">
            <h2 class="text-center">Add Category</h2>
            <form action="/admin/add-category" method="post" enctype="multipart/form-data">

                <label for="">Category</label>
                    <input type="text" name="category" class="form-control" required>

                
                <button type="submit" class="btn btn-success mt-4"> Add </button>
           
        </div>

        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Category</th>
                    
                </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<categories.length;i++){ %> 
                <tr>
                    <th scope="row"><%= i+1 %> </th>
                    <td><%= categories[i].category %></td>
                    
                    <td><a href="/admin/delete-category/<%= categories[i]._id %>" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>

                </tr>
                

                <% } %> 

            </tbody>
        </table>
    </div>
</section>