<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-sm-7 col-md-9">
                    <div id="colorlib-logo"><a href="/">Vision</a></div>
                </div>
                <div class="col-sm-5 col-md-3">
                    <form action="#" class="search-wrap">
                        <div class="form-group">
                            <input type="search" class="form-control search" placeholder="Search">
                            <button class="btn btn-primary submit-search text-center" type="submit"><i
                                    class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-left menu-1">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li class="has-dropdown">
                            <a href="">Men</a>
                            <ul class="dropdown">
                                <li><a href="product">Product Detail</a></li>
                                <li><a href="">Shopping Cart</a></li>
                                <li><a href="">Checkout</a></li>
                                <li><a href="">Order Complete</a></li>
                                <li><a href="">Wishlist</a></li>
                            </ul>
                        </li>
                        <li><a href="">Women</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Contact</a></li>
                        <li class="cart"><a href=""><i class="icon-shopping-cart"></i> Cart [0]</a></li>

                        <!-- <li class="dropdown btn cart dropdown-toggle mx-2" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                              aria-haspopup="true" aria-expanded="false">
                              <% if(user){ %>  
                              <%= user.username %>  
                              <% }else{ %>
                              Account
                              <% } %> 
                    
                            
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    
                                <% if(user){ %> 
                                    <a class="dropdown-item" href="logout"> logout</a>
                                <% }else{ %> 
                                    
                                    <a class="dropdown-item" href="login"> login</a>
                                <% } %> 
                    
                    
                                </div>
                        </li> -->
                        <% if(user){ %> 
                            <li class="cart"><a href="logout">logout</a></li>
                        <% }else{ %> 
                            
                            <li class="cart"><a href="login">login</a></li>
                        <% } %> 
                        <% if(user){ %> 
                            <li class="cart mx-5">welcome <%= user.username %> </li>
                        <% } %> 

                        
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="sale">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <div class="row">
                        <div class="owl-carousel2">
                            <div class="item">
                                <div class="col">
                                    <h3><a href="#">25% off (Almost) Everything! Use Code: Summer Sale</a></h3>
                                </div>
                            </div>
                            <div class="item">
                                <div class="col">
                                    <h3><a href="#">Our biggest sale yet 50% off all summer</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>