<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner">
        <!-- Register -->
        <div class="card">
          <div class="card-body">
            <!-- Logo -->
            <div class="app-brand justify-content-center">
              <a href="/" >
               
                
                
                <span class="app-brand-text demo fw-bolder" style="color:#88c8bc;">Vision</span>
              </a>
            </div>
            <!-- /Logo -->
            <h4 class="mb-2" style="color:#88c8bc ;">Signin</h4>
            <p class="mb-4">Please sign-in to your account and start the adventure</p>

            <form class="mb-3" action="login" method="POST">
              <div class="mb-3">
                <label for="email" class="form-label">Email or Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  name="email_username"
                  placeholder="Enter your email or username"
                  autofocus
                />
              </div>
              <div class="mb-3 form-password-toggle">
                <div class="d-flex justify-content-between">
                  <label class="form-label" for="password">Password</label>
                  <a href="#">
                    <small style="color:#63a095 ;">Forgot Password?</small>
                  </a>
                </div>
                <div class="input-group input-group-merge">
                  <input
                    type="password"
                    id="password"
                    class="form-control"
                    name="password"
                    placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                    aria-describedby="password"
                  />
                  <!-- <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span> -->
                </div>
              </div>
              <div class="mb-3">
                <div>
                    <p class="text-center">
                        <a href="/otp-login">
                          <span style="color:#63a095;">Login with OTP</span>
                        </a>
                      </p>
                
                </div>
              </div>
              <div class="mb-3">
                <button class="btn d-grid w-100" style="background-color:#88c8bc ;" type="submit">Sign in</button>
              </div>
            </form>

            <p class="text-center">
              <span>New on our platform?</span>
              <a href="/signup">
                <span style="color:#63a095 ;">Create an account</span>
              </a>
            </p>
          </div>
        </div>
      
      </div>
    </div>
  </div>