body{
    overflow-x: hidden;
}


#navMenu{
    position:fixed; 
    z-index:5;
    width:100%;
    padding: 20px;
    background-color:rgb(255, 255, 255)
}

#offer{
    padding-top: 150px;
}
#categories-list{
    position: fixed;
    width: 75%;     
    margin-top: 132px;
    margin-left: 175px;
    color: white;    
    z-index: 5;
}
.cat-items{
    padding: 23px;
    padding-left: 55px;

}
.link:hover{
    color: #88c8bc;
}
.link{
    color: white;
}

.hidden{
    display: none;    
   
}

.row-pb-process {
    padding-bottom: 1em !important;
    background-color:#d0ebe5 ;
    margin-bottom: 2em;
    margin-top: 0em;
    padding-top: 1em;
    border-radius: 2em;
}

.pro-details{
    color: black;
    text-decoration: none;
}

.btn-cart{
    border-radius: 5px;
}
.btn-welcome{
    height: 2rem;
    width: 160px;
    padding: 2em;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    background-color: #a6e2d7;
}



/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif; margin-left: 15%;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 350px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}



/* ================404 page=======================
=====================end========================== */